<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button class="btn btn-link" routerLink="/">Back To Main Page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>Data</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur numquam
      rerum fugiat. Ipsum unde nam corrupti fuga atque! Recusandae saepe ullam
      ducimus blanditiis voluptatum ex, maiores dolore veniam vel architecto?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur numquam
      rerum fugiat. Ipsum unde nam corrupti fuga atque! Recusandae saepe ullam
      ducimus blanditiis voluptatum ex, maiores dolore veniam vel architecto?
    </p>
  </div>
</div>
