<form class="class" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Log in to admin panel</h2>

  <div
    class="form-control"
    [ngClass]="{ invalid: isFormFieldInvalid('email') }"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    <div *ngIf="isFormFieldInvalid('email')" class="validation">
      <small *ngIf="form.get('email').errors.required">Email is required</small>
      <small *ngIf="form.get('email').errors.email">Email is invalid</small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{ invalid: isFormFieldInvalid('password') }"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
    <div *ngIf="isFormFieldInvalid('password')" class="validation">
      <small *ngIf="form.get('password').errors.required"
        >Password is required</small
      >
      <small *ngIf="form.get('password').errors.minlength"
        >Remaining
        {{
          form.get("password").errors.minlength.requiredLength -
            form.get("password").errors.minlength.actualLength
        }}
        symbols
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Log in
  </button>
</form>
