<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      class="form-control"
      [ngClass]="{ invalid: isFormFieldInvalid('title') }"
    >
      <label for="title">Title:</label>
      <input id="title" type="text" formControlName="title" />
      <div *ngIf="isFormFieldInvalid('title')" class="validation">
        <small *ngIf="form.get('title').errors.required"
          >Field is required</small
        >
      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="content"></quill-editor>
    </div>

    <button class="btn btn-primary" [disabled]="form.invalid || submitting">
      Update
    </button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
